<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/display.css' />
    <script type="module" src='d3.min.js'></script>
    <script type="module" src="/javascripts/spotify.js" defer></script>
    <script type="module" src="/javascripts/features.js" defer></script>
    <script type="module" src="/javascripts/display.js" defer></script>
  </head>
  <body>
    <div>
      <select class="axis" id="y">
        <option value="volvo">y</option>
      </select>
    </div>
    <select class="axis" id="x">
      <option value="volvo">x</option>
    </select>
    <svg id="chart">
      <g transform="translate(50, 50)"></g>
    </svg>
  </body>
</html>
