<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/display.css' />
    <script type="module" src='d3.min.js'></script>
    <script type="module" src="/javascripts/display.js" defer></script>
  </head>
  <body>
    <svg>
      <g transform="translate(50, 50)"></g>
    </svg>
  </body>
</html>
