.songinfo {
    position: absolute;
    text-align: center;
    padding: .2rem;
    background: #313639;
    color: #f9f9f9;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    font-size: .7rem;
}

body {
    margin: 0;
    padding: 5px;
    display: grid;
    grid-template-columns: 22px auto;
    grid-template-rows: min-content auto;
    grid-template-areas:
        ". x"
        "y chart";
}

.axis {
    border: none;
    justify-self: center;
    font-size: 1.3em;
}

#x {
    grid-area: x;
}

div:has(#y) {
    grid-area: y;
    justify-self: center;
    align-self: center;
}

#y {
    transform: rotate(270deg);
}

svg {
    grid-area: chart;
}
